.aboutus {
  padding: 2rem calc((100vw - 1200px) / 2);
  background-color: blueviolet;
}
.aboutus_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
}
.aboutus_card {
    color: #fff;
}
.aboutus_card h2 {
  font-size: 50px;
  font-weight: 500;
}
.aboutus_card p {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
}
.aboutus_card a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  letter-spacing: 1.1px;
  font-weight: 400;
  padding-bottom: 5px;
  border-bottom: 3px solid #fff;
}
.aboutus_card a:hover {
  color: rgb(250, 244, 244);
  border: none;
}
