.services_div {
  padding: 2rem calc((100vw - 1200px) / 2);
}
.h2_services {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}
.services {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}
.services_card {
  color: #fff;
  box-shadow: 11px 11px 5px 0px rgba(56, 7, 112, 0.75);
  -webkit-box-shadow: 11px 11px 5px 0px rgba(56, 7, 112, 0.75);
  -moz-box-shadow: 11px 11px 5px 0px rgba(56, 7, 112, 0.75);
}
.services_card:nth-child(1) {
  background-color: #393739;
  padding: 10px;
}
.services_card:nth-child(2) {
  background: rgb(36, 0, 69);
  padding: 10px;
}
.services_card:nth-child(3) {
  background: #e350e0;
  padding: 10px;
}
.services_card:nth-child(4) {
  background: #2f002c;
  padding: 10px;
}
.services_card:nth-child(5) {
  background: rgb(42, 16, 52);
  padding: 10px;
  padding-bottom: 25px;
}
.services_border {
  border: 2px solid #fff;
  padding: 10px;
  padding-bottom: 15px;
}
.services_border h2 {
  font-size: 35px;
  font-weight: 500;
}
.services_border p {
  font-size: 20px;
  font-weight: 400;
}
.services_border a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 5px;
  border-bottom: 2.5px solid #fff;
}
.services_border a:hover {
  color: #fff;
  border: none;
}

@media only screen and (max-width: 991px) {
  .services_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    padding: 15px;
  }
}
