.whatwedo {
    padding: 2rem calc((100vw - 1200px) / 2);
    background-color: #7510c2;
}
.what_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.what_card img {
    width: 100%;
    height: 100%;
}
.what_card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.what_card h2 {
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}
.what_card p {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

@media only screen and (max-width: 991px) {
    .what_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        padding: 15px;
    }
}